// main: _master.less

@import "_variables.less";

body {
  background-color: @site-background-color;
}

.nav-bar {
  background-color: @brown;
  color: #eee;
  height: 50px;
  margin-bottom: 50px;

  .title {
    align-items: center;
    display: flex;
    height: 50px;
    font-size: 2.25em;
    justify-content: center;
  }
}

.btn-success {
  // background-color: green;
}
