// main: _master.less

@import "_variables.less";

body {
  background-color: @site-background-color;
}

.app {
  >.site-content {
    margin-bottom: 100px;
    margin-top: 40px;
  }
}

.app-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .background-image {
    background-image: url(http://www.wallpaperawesome.com/wallpapers-awesome/wallpapers-food-drinks-cocktails-cake-meat-pasta-pizza-awesome/wallpaper-coffee-beans.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .background-overlay {
    background-color: black;
    height: 100%;
    opacity: .75;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.nav-bar {
  background-color: @brown;
  color: #eee;
  height: 50px;
  margin-bottom: 50px;

  .title {
    align-items: center;
    display: flex;
    height: 50px;
    font-size: 2.25em;
    justify-content: center;
  }
}

.btn {
  cursor: pointer;
}
