// main: _master.less

@import "_variables.less";

.reportSpill {
  align-items: center;
  background-color: black;
  bottom: 0;
  border-top: 1px white solid;
  display: flex;
  height: 80px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: @zindex-fixed;
}
