// main: _master.less

@import "_variables.less";

.startBrewing {

  @media all and (min-width: 992px) {
    margin-top: 15%;
  }

  .title {
    color: @light-color;
    text-align: center;
    margin: auto;
    max-width: 500px;


    p {
      padding-top: 20px;
    }
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    button {
      display: block;
      // margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
