// main: _master.less

.startBrewing {
  .buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      display: block;
      // margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
